$color-grey: #353535;
$color-green: #3fc186;

html,
body {
  background-color: #f9f8f8;
  height: 100%;
}

[role="main"] {
  background: transparent url("../images/sheriff.png") no-repeat 45% bottom;
  background-size: 100%;
  border-right: 14px solid $color-grey;
  border-left: 6px solid $color-grey;
  border-bottom: 10px solid $color-green;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  padding: 4rem 1rem 28rem 1rem;
  position: relative;

  &:before,
  &:after {
    background-color: $color-grey;
    content: "";
    display: block;
    height: 3.5rem;
    left: -5%;
    position: absolute;
    transform: rotate(-2deg);
    width: 110%;
  }

  &:before {
    top: -3.5rem;
  }

  &:after {
    top: 98%;
  }

  @media screen and (min-width: 750px) {
    background-size: auto;
    height: auto;
  }
}

a {
  color: $color-green;
}

.notice-img {
  display: block;
  margin: 0 auto;
  max-width: 700px;
  width: 95%;
}

.live-shows {
  margin: 0 auto;
  max-width: 900px;
  padding: 1em 0 4em 0;
  width: 95%;

  table {
    width: 100%;
  }

  th {
    display: none;
  }

  a {
    font-weight: 600;
    text-decoration: none;
  }

  td {
    border-bottom: 1px solid lighten($color-grey, 60%);
    line-height: 1.3;
    font-size: 90%;
    padding: 0.8em 0.2em;
    vertical-align: top;
  }
}

.show-info {
  color: $color-grey;
  display: block;
  font-size: 80%;
  font-style: normal;
  font-weight: normal;
}

.btn-tickets {
  background-color: $color-green;
  border-radius: 2px;
  color: #fff;
  font-size: 90%;
  padding: 0.2em 0.45em;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: darken($color-green, 10%);
  }
}
