$color-grey: #353535;
$color-green: #3fc186;
$width-content: 95%;
$width-content-max: 900px;

html,
body {
  background-color: #f9f8f8;
  height: 100%;
}

[role="main"] {
  background: transparent url("../images/sheriff.png") no-repeat 45% bottom;
  background-size: 100%;
  border-right: 14px solid $color-grey;
  border-left: 6px solid $color-grey;
  box-shadow: 0 10px 0 $color-green;
  box-sizing: border-box;
  height: 60%;
  overflow: hidden;
  padding: 4rem 1rem 28rem 1rem;
  position: relative;

  &:before,
  &:after {
    background-color: $color-grey;
    content: "";
    display: block;
    height: 3.5rem;
    left: -5%;
    position: absolute;
    transform: rotate(-2deg);
    width: 110%;
  }

  &:before {
    top: -3.5rem;
  }

  &:after {
    top: 98%;
  }

  @media screen and (min-width: 690px) {
    background-size: auto;
    height: auto;
  }
}

a {
  color: $color-green;
}

.notice-img {
  display: block;
  margin: 0 auto;
  max-width: 700px;
  width: 95%;
}

.live-shows {
  margin: 0 auto;
  max-width: $width-content-max;
  padding: 1em 0 4em 0;
  width: $width-content;

  table {
    width: 100%;
  }

  th {
    display: none;
  }

  a {
    font-weight: 600;
    text-decoration: none;
  }

  td {
    border-bottom: 1px solid lighten($color-grey, 60%);
    line-height: 1.3;
    font-size: 90%;
    padding: 0.8em 0.2em;
    vertical-align: top;
  }
}

.heading-section {
  font-size: 170%;
  text-transform: uppercase;
  transform: rotate(-1.5deg);
}

.show-info {
  color: $color-grey;
  display: block;
  font-size: 80%;
  font-style: normal;
  font-weight: normal;
}

.btn-tickets {
  background-color: $color-green;
  border-radius: 2px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 90%;
  min-width: 5em;
  padding: 0.2em 0.45em;
  text-align: center;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: darken($color-green, 10%);
  }
}

.sold-out {
  background-color: #e9c011;
}

%slash {
  background-color: $color-grey;
  content: "";
  display: inline-block;
  height: 1em;
  margin: 0 0.5em 0 0.6em;
  transform: rotate(25deg);
  width: 0.2em;
}

[role="contentinfo"] {
  margin: 0 auto;
  max-width: $width-content-max;
  padding: 1em 0 1em 0;
  font-size: 80%;
  font-weight: 600;
  text-align: right;
  text-transform: uppercase;
  transform: rotate(-1deg);
  width: $width-content;

  &:before {
    @extend %slash;
  }

  a {
    border-bottom: 3px solid #f9f8f8;
    text-decoration: none;

    &:hover,
    &:focus {
      border-bottom-color: $color-green;
    }

    &:after {
      @extend %slash;
    }
  }
}
