<% provide :body_class, "page-merch" %>
<h1 class="heading-section">Will Self-Deprecate 4 Food</h1>

<ul class="merch-items">
  <li>
    <%= image_tag "my-comedy-album-by-gethard.jpg",
      alt: "The cover of My Comedy Album" %>
  </li>
  <li>
    <%= image_tag "a-bad-idea-im-about-to-do-by-gethard.jpg",
      alt: "The cover of A Bad Idea I'm About to Do" %>
  </li>
</ul>
