<% provide :body_class, "page-news" %>
<h1 class="page-title title-character title-smithgate">What’s Happening?</h1>

<div class="page-content">
  <p class="page-intro">
    I'm thinking this will be the blog component. Might be best to use Tumblr
    or another blogging tool that you're familiar with. Or we could build a custom
    one that will have fewer features, but we'll have complete control over.
  </p>
</div>
