<% provide :body_class, "page-purpose" %>
<h1 class="page-title">Purpose</h1>

<div class="page-content">
  <p class="page-intro">
    I think you should do this. This is a paragraph or a few that explain <b>why</b>
    you're doing this. What impact do you want to have on the humans you encounter.
    What legacy do you want to leave?
  </p>
</div>
