<% provide :body_class, "page-purpose" %>
<h1 class="page-title">Purpose</h1>

<div class="page-content">
  <p>
    At the end of the day, I think being a comedian is one of the best jobs I
    could ever hope to have because my job is to make people laugh. And as cheesy
    as this is, laughing is such a positive thing. Whenever I go up on a stage
    or in front of a camera, I have this thought of "If someone watching this
    is having a bad day, maybe what I'm about to do can make their day slightly
    better." That is real Hallmark card stuff, but I also think there's some
    truth to it. As someone who has spent a significant portion of his life
    feeling angry and negative and sad, I now feel sort of honor bound to try
    to rally against those feelings and see if I can't help other people shake
    them out of their systems one joke at a time.
  </p>
  <p>
    I also just have this sneaking suspicion that I might be able to do this in
    a way that I'm proud of, with integrity I value, all while being unpretentious
    and funny. I think maybe there's a lot of people in this world that don't
    ingest mainstream comedy. Maybe sitcoms aren't really something that gets
    them excited. Maybe they think most stand up is aggressive dudes in leather
    jackets making fun of audience members. I have a feeling there are just a
    lot of people out there who maybe don't think of comedy as their thing,
    because they think outside the box, and I'd be really proud if someday a
    lot of those people looked to me and thought "That guy is my guy" when it
    comes to comedians.
  </p>
  <p>
    All of my favorite comedians are people who for better or worse weren't
    content with just getting a laugh. And when I watch a ton of comedy these
    days, in all different mediums, it seems like the end goal is to say "I'm
    funny, laugh." And that is no small skill, and is such a great thing to bring
    into the world, I get it. But then there are these other comedians who really
    seem like they want to get to that level and then also get to a next level
    where they actually use the voice they've developed to have a point of view
    and connect with people who share on some level that point of view and who
    have a very discernible drive to be a voice in the world that's actually
    saying something. And I KNOW that reads so pretentious, but the people I'm
    thinking of really never are pretentious. Andy Kaufman caused so much trouble,
    beyond his laughs. He stirred shit up. David Letterman is so funny, but when
    I was a kid sneaking staying up late to watch his shows I always felt like
    "This guy likes not being regular TV." I grew up in the northeast, so Howard
    Stern was always a presence on the radio in my area and I remember realizing
    at some point "Oh this isn't just about being gross and having boobies in the
    studio - this guy is a smart dude with a chip on his shoulder who's boxing out
    this outlet for himself."
  </p>
  <p>
    I guess I just kind of feel like comedy is 100% pointless, but within that
    you can find out who you are and stand up and just be that thing. And that's
    really all I've ever been trying to do. Just be an insecure kid who grew up
    in New Jersey and has run into some roadblocks throughout my career, who at
    some point in his youth just kind of listened to too much punk rock music
    and got angry and said to himself "Prove everyone wrong." And who now tries
    to do that even when there aren't really people to prove wrong. I just think
    on some level you have to prove everything wrong and it's fun to write jokes
    and tell stories and stage stunts that try to poke holes in anything resembling
    a system. It's fun to take a step back from auditions and showcases and
    meetings with networks and just sort of say "Yeah, but outside of all that,
    how can we stir up some shit?"
  </p>
  <p>
    I'd love to be rich, but I'm really more intent on being happy. And I'll
    take some big gig when it comes along, but in the meantime I am so content
    doing things small scale for a small fan base, but a fan base that really
    gives a shit and sees something in me. When I go on the road and meet kids
    who tell them my work has hit them in the gut, made them happier, more
    motivated, whatever - every single time I hear that, it throws some fuel
    on my fire. Whenever we get a call at the public access show and it's from
    some shy kid who starts telling us about how they want to be creative and
    how they share the chip on their shoulder, I feel like we're building something
    that I wish I had when I was a kid.
  </p>
  <p>
    I just want to make people laugh. I want them to have a better day after
    they see me than they were having before they did. I want to do it my way
    even though that sometimes gets in my way. I want to meet the other people
    who feel safest on the fringes and who like throwing rocks at beehives.
  </p>
</div>
