<% provide :body_class, "page-shows" %>
<h1 class="page-title">Panic Attacks Nightly</h1>
<ul class="list-shows">
  <% if false %>
  <li>
    <td>
      <time datetime="2014-10-22 15:30">10/22/14</time>
    </td>
    <td>
      <a href="http://www.cmj.com/marathon">
        CMJ Panel
        <em class="show-info">w/ Tom Scharpling</em>
      </a>
    </td>
    <td>
      New York, NY
    </td>
    <td>
      <a href="http://www.cmj.com/marathon/attend" class="btn-tickets">
        Tickets
      </a>
    </td>
  </li>

  <li>
    <td>
      <time datetime="2014-10-23 20:00">10/23/14</time>
    </td>
    <td>
      <a href="https://www.facebook.com/events/727380650644485/">
        Palisades
        <em class="show-info">Impose Magazine Show w/ Open Mike Eagle</em>
      </a>
    </td>
    <td>
      Brooklyn, NY
    </td>
    <td>
      <a href="https://www.facebook.com/events/727380650644485/" class="btn-tickets">
        Info
      </a>
    </td>
  </li>


  <li>
    <a href="#" class="show-btn">
      <h3 class="show-city">Gainesville, FL</h3>

      <time datetime="2014-10-31" class="show-date">Oct. 31 2014</time>

      <h4 class="show-venue">
        The Fest
      </4>

      <h4 data-href="http://thefestfl.com" class="show-details-btn">
        Details
      </h4>
    </a>
  </li>


  <li>
    <a href="#" class="show-btn">
      <h3 class="show-city">Gainesville, FL</h3>

      <time datetime="2014-11-01" class="show-date">Nov. 01 2014</time>

      <h4 class="show-venue">
        The Fest
      </4>

      <h4 data-href="http://thefestfl.com" class="show-details-btn">
        Details
      </h4>
    </a>
  </li>

  <li>
    <a href="#" class="show-btn">
      <h3 class="show-city">Gainesville, FL</h3>

      <time datetime="2014-11-02" class="show-date">Nov. 02 2014</time>

      <h4 class="show-venue">
        The Fest
      </4>

      <h4 data-href="http://thefestfl.com" class="show-details-btn">
        Details
      </h4>
    </a>
  </li>

  <li>
    <a href="#" class="show-btn">
      <h3 class="show-city">New York, NY</h3>

      <time datetime="2014-11-03" class="show-date">Nov. 03 2014</time>

      <h4 class="show-venue">
        UCB
      </4>

      <h5 class="show-info-excerpt">with Tami Sagher</h5>

      <h4 data-href="http://www.ucbtheatre.com" class="show-details-btn">
        Details
      </h4>
    </a>
  </li>
  <% end %>
  <li>
    <a href="#" class="show-btn">
      <h3 class="show-city">Philadelphia, PA</h3>

      <time datetime="2014-11-04" class="show-date">Nov. 04 2014</time>

      <h4 class="show-venue">
        House Show
      </4>

      <h4 data-href="http://thechrisgethardshow.tumblr.com/post/97668781771/this-november-i-would-love-to-perform-stand-up-in-your" class="show-details-btn">
        Details
      </h4>
    </a>
  </li>

  <li>
    <a href="#" class="show-btn">
      <h3 class="show-city">New Brunswick, NJ</h3>

      <time datetime="2014-11-06" class="show-date">Nov. 06 2014</time>

      <h4 class="show-venue">
        House Show
      </4>

      <h4 data-href="http://thechrisgethardshow.tumblr.com/post/97668781771/this-november-i-would-love-to-perform-stand-up-in-your" class="show-details-btn">
        Details
      </h4>
    </a>
  </li>

  <li class="show-sold-out">
    <a href="#" class="show-btn">
      <h3 class="show-city">Washington, DC</h3>

      <time datetime="2014-11-07" class="show-date">Nov. 07 2014</time>

      <h4 class="show-venue">
        Warner Theatre
      </4>

      <h5 class="show-info-excerpt">opening for Mike Birbiglia</h5>

      <h4 data-href="http://concerts.livenation.com/event/15004CCF27198D84" class="show-details-btn">
        <em class="sold-out-banner">Sold out</em>
        Details
      </h4>
    </a>
  </li>

  <li>
    <a href="#" class="show-btn">
      <h3 class="show-city">Washington, DC</h3>

      <time datetime="2014-11-08" class="show-date">Nov. 08 2014</time>

      <h4 class="show-venue">
        Warner Theatre
      </4>

      <h5 class="show-info-excerpt">opening for Mike Birbiglia</h5>

      <h4 data-href="http://concerts.livenation.com/event/15004D2510FE6742" class="show-details-btn">
        Details
      </h4>
    </a>
  </li>

  <li>
    <a href="#" class="show-btn">
      <h3 class="show-city">Douglaston, NY</h3>

      <time datetime="2014-11-10" class="show-date">Nov. 10 2014</time>

      <h4 class="show-venue">
        House Show
      </4>

      <h4 data-href="http://thechrisgethardshow.tumblr.com/post/97668781771/this-november-i-would-love-to-perform-stand-up-in-your" class="show-details-btn">
        Details
      </h4>
    </a>
  </li>

  <li>
    <a href="#" class="show-btn">
      <h3 class="show-city">New Haven, CT</h3>

      <time datetime="2014-11-11" class="show-date">Nov. 11 2014</time>

      <h4 class="show-venue">
        House Show
      </4>

      <h4 data-href="http://thechrisgethardshow.tumblr.com/post/97668781771/this-november-i-would-love-to-perform-stand-up-in-your" class="show-details-btn">
        Details
      </h4>
    </a>
  </li>

  <li>
    <a href="#" class="show-btn">
      <h3 class="show-city">Ithaca, NY</h3>

      <time datetime="2014-11-14" class="show-date">Nov. 14 2014</time>

      <h4 class="show-venue">
        House Show
      </4>

      <h4 data-href="http://thechrisgethardshow.tumblr.com/post/97668781771/this-november-i-would-love-to-perform-stand-up-in-your" class="show-details-btn">
        Details
      </h4>
    </a>
  </li>

  <li>
    <a href="#" class="show-btn">
      <h3 class="show-city">Washington, DC</h3>

      <time datetime="2014-11-17" class="show-date">Nov. 17 2014</time>

      <h4 class="show-venue">
        The Kennedy Center
      </4>

      <h4 data-href="http://www.kennedy-center.org/explorer/artists/?entity_id=110267&source_type=B" class="show-details-btn">
        Details
      </h4>
    </a>
  </li>

  <li>
    <a href="#" class="show-btn">
      <h3 class="show-city">Orlando, FL</h3>

      <time datetime="2014-11-18" class="show-date">Nov. 18 2014</time>

      <h4 class="show-venue">
        Hard Rock Live
      </4>

      <h5 class="show-info-excerpt">opening for Mike Birbiglia</h5>

      <h4 data-href="http://www.ticketmaster.com/mike-birbiglia-orlando-florida-11-18-2014/event/22004CCCB91E6DF3?artistid=942726&majorcatid=10002&minorcatid=51" class="show-details-btn">
        Details
      </h4>
    </a>
  </li>

  <li>
    <a href="#" class="show-btn">
      <h3 class="show-city">West Palm Beach, FL</h3>

      <time datetime="2014-11-19" class="show-date">Nov. 19 2014</time>

      <h4 class="show-venue">
        The Improv
      </4>

      <h5 class="show-info-excerpt">opening for Mike Birbiglia</h5>

      <h4 data-href="http://palmbeachimprov.com/event.cfm?id=321216&cart" class="show-details-btn">
        Details
      </h4>
    </a>
  </li>

  <li>
    <a href="#" class="show-btn">
      <h3 class="show-city">Miami, FL</h3>

      <time datetime="2014-11-20" class="show-date">Nov. 20 2014</time>

      <h4 class="show-venue">
        Knight Concert Hall
      </4>

      <h5 class="show-info-excerpt">opening for Mike Birbiglia</h5>

      <h4 data-href="http://www.arshtcenter.org/Tickets/Calendar/2014-2015-Season/Live-at-Knight/Mike-Birbiglia" class="show-details-btn">
        Details
      </h4>
    </a>
  </li>

  <li>
    <a href="#" class="show-btn">
      <h3 class="show-city">St. Petersburg, FL</h3>

      <time datetime="2014-11-21" class="show-date">Nov. 21 2014</time>

      <h4 class="show-venue">
        Mahaffey Theater
      </4>

      <h5 class="show-info-excerpt">opening for Mike Birbiglia</h5>

      <h4 data-href="http://tickets.themahaffey.com/single/selectSeating.aspx?p=982" class="show-details-btn">
        Details
      </h4>
    </a>
  </li>

  <li>
    <a href="#" class="show-btn">
      <h3 class="show-city">Jacksonville, FL</h3>

      <time datetime="2014-11-22" class="show-date">Nov. 22 2014</time>

      <h4 class="show-venue">
        Florida Theater
      </4>

      <h5 class="show-info-excerpt">opening for Mike Birbiglia</h5>

      <h4 data-href="http://www.ticketmaster.com/event/22004CCDB2517C1D" class="show-details-btn">
        Details
      </h4>
    </a>
  </li>

  <li>
    <a href="#" class="show-btn">
      <h3 class="show-city">West Orange, NJ</h3>

      <time datetime="2014-11-25" class="show-date">Nov. 25 2014</time>

      <h4 class="show-venue">
        House Show
      </4>

      <h4 data-href="http://thechrisgethardshow.tumblr.com/post/97668781771/this-november-i-would-love-to-perform-stand-up-in-your" class="show-details-btn">
        Details
      </h4>
    </a>
  </li>

  <li>
    <a href="#" class="show-btn">
      <h3 class="show-city">Baltimore, MD</h3>

      <time datetime="2014-11-29" class="show-date">Nov. 29 2014</time>

      <h4 class="show-venue">
        House Show
      </4>

      <h4 data-href="http://thechrisgethardshow.tumblr.com/post/97668781771/this-november-i-would-love-to-perform-stand-up-in-your" class="show-details-btn">
        Details
      </h4>
    </a>
  </li>

  <li>
    <a href="#" class="show-btn">
      <h3 class="show-city">Chicago, IL</h3>

      <time datetime="2015-01-29" class="show-date">Jan. 29 2015</time>

      <h4 class="show-venue">
        UP Comedy Club
      </4>

      <h4 data-href="http://upcomedyclub.com" class="show-details-btn">
        Details
      </h4>
    </a>
  </li>

  <li>
    <a href="#" class="show-btn">
      <h3 class="show-city">Chicago, IL</h3>

      <time datetime="2015-01-30" class="show-date">Jan. 30 2015</time>

      <h4 class="show-venue">
        UP Comedy Club
      </4>

      <h4 data-href="http://upcomedyclub.com" class="show-details-btn">
        Details
      </h4>
    </a>
  </li>

  <li>
    <a href="#" class="show-btn">
      <h3 class="show-city">Chicago, IL</h3>

      <time datetime="2015-01-31" class="show-date">Jan. 31 2015</time>

      <h4 class="show-venue">
        UP Comedy Club
      </4>

      <h4 data-href="http://upcomedyclub.com" class="show-details-btn">
        Details
      </h4>
    </a>
  </li>

  <li class="show-sold-out">
    <a href="#" class="show-btn">
      <h3 class="show-city">Quincy, WA</h3>

      <time datetime="2015-05-23" class="show-date">May 23 2015</time>

      <h4 class="show-venue">
        Sasquatch Festival
      </4>

      <h4 data-href="http://www.sasquatchfestival.com" class="show-details-btn">
        <em class="sold-out-banner">Sold out</em>
        Details
      </h4>
    </a>
  </li>

  <li class="show-sold-out">
    <a href="#" class="show-btn">
      <h3 class="show-city">Quincy, WA</h3>

      <time datetime="2015-05-24" class="show-date">May 24 2015</time>

      <h4 class="show-venue">
        Sasquatch Festival
      </4>

      <h4 data-href="http://www.sasquatchfestival.com" class="show-details-btn">
        <em class="sold-out-banner">Sold out</em>
        Details
      </h4>
    </a>
  </li>

  <li class="show-sold-out">
    <a href="#" class="show-btn">
      <h3 class="show-city">Quincy, WA</h3>

      <time datetime="2015-05-25" class="show-date">May 25 2015</time>

      <h4 class="show-venue">
        Sasquatch Festival
      </4>

      <h4 data-href="http://www.sasquatchfestival.com" class="show-details-btn">
        <em class="sold-out-banner">Sold out</em>
        Details
      </h4>
    </a>
  </li>
</ul>
