.articles-list {
  list-style: none outside;
  margin: 0 auto;
  overflow: hidden;
  padding: 2em 0 1.4em 0;
}

.article {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: get-target-width(8);
  padding: 1.8em 0 2.8em 0;
}

.article-image {
  display: block;
  margin: 0.5em auto;
  max-height: 18em;
  max-width: get-target-width(7);
  overflow: hidden;
  width: 100%;

  img {
    display: block;
    width: 100%;
  }
}

.article-date {
  background-color: $color-blue;
  color: $color-off-white;
  display: inline-block;
  font-weight: 700;
  padding: 0 0.4em;
  text-transform: uppercase;
}

.article-title {
  font-size: 1.5em;
  font-weight: 900;
  line-height: 1.1;
  margin: 0.3em 0 0 0;
  padding: 0;
  text-transform: uppercase;

  a {
    color: $color-red;
    text-decoration: none;
  }
}

.article-excerpt {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.6;
  margin: 0.4em 0;
  padding: 0;
}

@media screen and (min-width: 460px) {
  .article-title {
    font-size: 1.7em;
  }
}

@media screen and (min-width: 600px) {
  .article {
    text-align: center;
  }

  .article-title {
    font-size: 2.2em;
    padding: 0 1em;
  }

  .article-excerpt {
    padding: 0 2em;
  }
}

@media screen and (min-width: 700px) {
  .articles-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .article {
    padding-left: 1.5em;
    padding-right: 1.5em;
    text-align: left;
    width: 50%;
  }

  .article-title {
    padding: 0;
  }

  .article-excerpt {
    padding: 0;
  }
}
