@function page-title-text($slug, $num: 80) {
  $text: "";

  @for $i from 0 to $num {
    $text: $text + " " + $slug;
  }

  @return $text;
}

[role="banner"] {
  overflow: hidden;
  position: relative;

  &:before {
    background-color: #fff;
    content: page-title-text("geth");
    display: block;
    font-size: 1rem;
    font-weight: 900;
    opacity: 0.9;
    position: absolute;
    text-indent: -2%;
    text-shadow: 0 0 1px rgba($color-red, 0.7);
    text-transform: uppercase;
    top: -3px;
    transform: rotate(-0.4deg);
    white-space: nowrap;
    width: 120%;
    z-index: 5;
  }
}

.page-articles [role="banner"]:before {
  content: page-title-text("read");
}

.page-fans [role="banner"]:before {
  content: page-title-text("you");
}

.page-merch [role="banner"]:before {
  content: page-title-text("buy");
}

.page-shows [role="banner"]:before {
  content: page-title-text("live!");
}

.page-videos [role="banner"]:before {
  content: page-title-text("watch");
}

.geth-title {
  background: transparent url("../images/geth-banner.png") no-repeat center top;
  background-size: 110%;
  display: block;
  line-height: 1;
  margin: 0 auto;
  max-width: $container-max-width;
  overflow: hidden;
  padding-top: 50%;
  position: relative;
  text-indent: -300em;
  width: 100%;
  z-index: 3;
}

@media screen and (min-width: 220px) {
  .geth-title {
    padding-top: 60%;
  }
}

@media screen and (min-width: 325px) {
  .geth-title {
    padding-top: 67%;
  }
}

@media screen and (min-width: 430px) {
  .geth-title {
    background-image: url("../images/geth-banner-large-screen.png");
    background-size: 105%;
    padding-top: 5%;
  }
}

@media screen and (min-width: 490px) {
  .geth-title {
    padding-top: 9%;
  }
}

@media screen and (min-width: 576px) {
  .geth-title {
    padding-top: 12%;
  }
}

@media screen and (min-width: 750px) {
  .geth-title {
    padding-top: 14%;
  }
}

@media screen and (min-width: 990px) {
  .geth-title {
    padding-top: 15%;
  }
}

@media screen and (min-width: 1050px) {
  .geth-title {
    background-position: center -0.5em;
    background-size: 100%;
    padding-top: 14%;
  }
}

@media screen and (min-width: 1450px) {
  .geth-title {
    height: 280px;
    padding-top: 0;
  }
}
