.fans-quotes {
  list-style: none outside;
  margin: 0 auto;
  max-width: get-target-width(8);
  padding: 3em 0 1.4em 0;

  li {
    padding-bottom: 3em;
  }

  blockquote {
    display: block;
    font-size: 1.6rem;
    font-style: italic;
    font-weight: 300;
    margin: 0;

    p {
      $indent: 1.1em;
      display: inline-block;
      margin: 0;
      position: relative;
      text-indent: $indent;

      &:before {
        color: $color-red;
        content: "“";
        display: inline-block;
        font-family: georgia;
        font-size: 2.7em;
        left: -$indent * 0.5;
        line-height: 1;
        position: absolute;
      }
    }
  }
}
