html,
body {
  @extend %roboto;
  background-color: $color-grey;
  height: 100%;
}

.container-content {
  background-color: $color-off-white;
}

a {
  color: $color-blue;
}

[role="main"] {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: get-target-width(12);

  // padding: 0 calc-percent(get-target-width(0.5), $container-max-width);
}

.heading-section {
  @extend %roboto;
  color: $color-grey;
  font-size: 320%;
  font-weight: 900;
  line-height: 0.7;
  margin: 0;
  text-align: right;
  text-indent: -0.2em;
  text-transform: uppercase;
  // transform: rotate(-1.2deg);

  display: none;
}
