html,
body {
  @extend %roboto;
  background-color: $color-grey;
  height: 100%;
}

.container-content {
  background-color: $color-off-white;
}

a {
  color: $color-blue;
}

[role="main"] {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: get-target-width(12);
}

.page-content {
  padding: 0 calc-percent(get-target-width(0.5), $container-max-width);
}

.heading-section {
  @extend %roboto-cond;
  color: $color-grey;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
}

.page-intro {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.5;
}

.button {
  background-color: $color-blue;
  border-radius: 3px;
  color: $color-off-white;
  display: inline-block;
  font-weight: 700;
  padding: 0.3em 0.6em;
  position: relative;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: darken($color-blue, 15);
  }
}
