html,
body {
  @extend %roboto;
  background-color: $color-off-white;
  height: 100%;
}

a {
  color: $color-blue;
}

[role="main"] {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: get-target-width(12);

  // padding: 0 calc-percent(get-target-width(0.5), $container-max-width);
}

.heading-section {
  @extend %roboto;
  color: $color-grey;
  font-size: 320%;
  font-weight: 900;
  line-height: 0.7;
  margin: 0;
  text-align: right;
  text-indent: -0.2em;
  text-transform: uppercase;
  transform: rotate(-1.2deg);
}

%slash {
  background-color: $color-grey;
  content: "";
  display: inline-block;
  height: 0.8em;
  margin: 0 0.5em 0 0.6em;
  transform: rotate(20deg);
  width: 0.2em;
}

[role="contentinfo"] {
  @extend %roboto-cond;
  font-size: 100%;
  font-weight: 700;
  margin: 0 auto;
  padding: 1em 0;
  text-align: right;
  text-transform: uppercase;
  transform: rotate(-1deg);

  &:before {
    @extend %slash;
  }

  a {
    border-bottom: 3px solid #f9f8f8;
    text-decoration: none;

    &:hover,
    &:focus {
      border-bottom-color: $color-blue;
    }

    &:after {
      @extend %slash;
    }
  }
}
