.merch-items {
  list-style: none outside;
  margin: 0 auto;
  max-width: get-target-width(9);
  overflow: hidden;
  padding: 1em calc-percent(get-target-width(0.5), $container-max-width);
}

.merch-item {
  box-sizing: border-box;
  overflow: hidden;
  padding-bottom: 2.6em;
  text-align: center;

  .button {
    font-size: 1.3em;
    margin-top: 0.2em;
  }
}

.merch-link-main {
  display: block;

  img {
    width: 100%;
  }
}

.merch-item-title {
  font-size: 2.1em;
  font-weight: 900;
  margin: 0;
  text-transform: uppercase;
}

.merch-item-desc {
  margin: 0;
  font-size: 1.1em;
}

.merch-item-links {
  line-height: 1.6;
}

@media screen and (min-width: 550px) {
  .merch-item {
    text-align: left;
  }

  .merch-link-main {
    float: left;
    width: 30%;
  }

  .merch-item-details {
    float: right;
    width: 65%;
  }

  .merch-item-desc {
    font-size: 1.2em;
  }
}
