.merch-items {
  list-style: none outside;
  margin: 0 auto;
  max-width: get-target-width(10.5);
  overflow: hidden;
  padding: 1em calc-percent(get-target-width(0.5), $container-max-width);
}

.merch-item {
  box-sizing: border-box;
  text-align: center;
  padding-bottom: 2em;
}

.merch-link-main {
  display: block;

  img {
    width: 100%;
  }
}

.merch-item-title {
  font-size: 2em;
  font-weight: 900;
  margin: 0;
  text-transform: uppercase;
}

.merch-item-desc {
  margin: 0;
}

@media screen and (min-width: 550px) {
  .merch-item-album {
    float: left;
    max-width: get-target-width(5.9);
    padding: 0 1.4em 1.4em 0;
    width: 60%;
  }

  .merch-item-book {
    float: right;
    max-width: get-target-width(4);
    padding: 0 0 1.4em 1.4em;
    width: 40%;
  }
}
