.nav-main {
  border-top: 0.6em solid $color-grey;
  font-size: 1.4rem;
  margin: 0 auto;
  max-width: get-target-width(12);
  padding: 0.4em 0;
  position: relative;
  text-align: right;
  width: 99%;

  ul {
    background-color: $color-off-white;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
  }

  li {
    display: inline-block;
    list-style: none;
  }

  a {
    color: $color-red;
    display: inline-block;
    font-weight: 900;
    padding: 0.2em 0.4em;
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &:focus {
      background-color: $color-grey;
      color: $color-off-white;
    }
  }
}

@media screen and (min-width: 490px) {
  .nav-main {
    font-size: 1.1em;

    ul {
      top: -1.55em;
    }
  }
}
