.nav-main {
  border-top: 0.6em solid $color-grey;
  font-size: 1.4rem;
  margin: 0 auto;
  max-width: get-target-width(12);
  padding: 0.4em 0;
  position: relative;
  text-align: center;
  width: 99%;

  ul {
    background-color: $color-off-white;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
  }

  li {
    display: inline-block;
    list-style: none;
  }

  a {
    color: $color-red;
    display: inline-block;
    font-weight: 900;
    padding: 0.2em 0.4em;
    text-decoration: none;
    text-transform: uppercase;

    &:hover,
    &:focus {
      background-color: $color-grey;
      color: $color-off-white;
    }
  }
}

.page-news .nav-main a[href*="news"],
.page-shows .nav-main a[href*="shows"],
.page-articles .nav-main a[href*="articles"],
.page-video .nav-main a[href*="video"],
.page-merch .nav-main a[href*="merch"] {
  background-color: $color-grey;
  color: $color-off-white;
  cursor: default;
}

@media screen and (min-width: 490px) {
  .nav-main {
    font-size: 1.1em;
    margin-bottom: -1.55em;
    text-align: right;

    ul {
      top: -1.55em;
    }
  }
}

@media screen and (min-width: 900px) {
  .nav-main {
    font-size: 1.3em;
  }
}
