.list--posts {
  list-style: none outside;
  margin: 0 auto;
  max-width: get-target-width(7);
  padding: 0;
}

.post {
  border-bottom: 2px solid lighten($color-grey, 40);
  margin-bottom: 4em;
  padding-bottom: 2em;

  &:last-child {
    border: 0;
  }
}

.posts-none {
  box-sizing: border-box;
  color: $color-red;
  font-size: 1.6em;
  font-weight: 900;
  padding: 1.5em;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.post__date {
  background-color: $color-blue;
  color: $color-off-white;
  display: inline-block;
  font-weight: 700;
  padding: 0 0.4em;
  text-transform: uppercase;

  &:hover {
    background-color: $color-red;
  }
}

.post__title {
  font-size: 1.65em;
  font-weight: 900;
  line-height: 1.35;
  margin: 0.3em 0 0 0;
  padding: 0;
  text-transform: uppercase;

  a {
    border-bottom: 4px solid $color-off-white;
    color: $color-red;
    text-decoration: none;

    &:hover,
    &:focus {
      border-color: $color-red;
    }
  }
}

.post__body {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.6;
  margin: 0.4em 0;
  padding: 0;

  blockquote {
    border-left: 2px solid lighten($color-grey, 40);
    font-size: 90%;
    margin: 0;
    padding: 0 0 0 1em;
  }

  img {
    max-width: 100%;
  }

  video {
    background-color: $color-grey;
  }

  iframe,
  video {
    width: 100%;
  }
}

.post__body--chat {
  font-family: "courier new", courier, monospace;
  font-size: 90%;
}

.post__body .post__quote {
  border-left: 0;
  padding-left: 0;
}

.quote__text {
  $indent: 1.1em;
  font-size: 1.3em;
  font-style: italic;
  position: relative;
  text-indent: $indent;

  p + p {
    text-indent: 0;
  }

  &:before {
    color: $color-red;
    content: "“";
    display: inline-block;
    font-family: georgia;
    font-size: 3.2em;
    left: -$indent * 0.5;
    line-height: 1;
    position: absolute;
  }
}

.quote__source {
  font-size: 90%;
  font-weight: 400;
  margin-top: 0.4em;

  &:before {
    content: "–";
  }
}

.post__question {
  background-color: lighten($color-blue, 42);
  border-radius: 3px;
  border: 1px solid lighten($color-blue, 35);
  padding: 0.6em 0.8em 0 0.8em;
  font-size: 90%;
}

.asking__name {
  color: $color-grey;
  font-weight: 600;
  text-decoration: none;
}

a.asking__name:hover {
  color: $color-blue;
}

.post__image {
  max-width: 100%;
}

@media screen and (min-width: 460px) {
  .post__title {
    font-size: 1.7em;
  }
}

@media screen and (min-width: 600px) {
  .post__title {
    font-size: 2.2em;
  }

  .post--video .post__body {
    iframe {
      height: 385px;
    }
  }
}

@media screen and (min-width: 760px) {
  .post__body {
    font-size: 1.2em;
  }
}
