.page-title {
  @extend %roboto-cond;
  background-color: $color-grey;
  box-sizing: border-box;
  color: $color-off-white;
  font-size: 3.4em;
  font-weight: 700;
  line-height: 1.1;
  margin: 0 auto;
  padding: 0.4em 0.2em 0.5em 0.2em;
  position: relative;
  text-align: center;
  z-index: 100;
}

@media screen and (min-width: 520px) {
  .page-title {
    background-color: transparent;
    border-bottom: 2px solid lighten($color-grey, 70);
    color: $color-grey;
    font-size: 3em;
    padding-bottom: 0.6em;
    width: 99%;
  }

  .title-character {
    &:before {
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: 99%;
      content: " ";
      display: block;
      height: get-target-width(1.5);
      left: 0;
      max-width: get-target-width(1.1);
      position: absolute;
      top: -0.85em;
      width: calc-percent(get-target-width(2), get-target-width(12));
    }
  }

  .title-willem {
    &:before {
      background-image: url("../images/heading-willem.png");
    }
  }

  .title-smithgate {
    &:before {
      background-image: url("../images/heading-smithgate.png");
    }
  }

  .title-rickman {
    &:before {
      background-image: url("../images/heading-rickman.png");
      background-size: 100%;
      max-width: get-target-width(1.2);
    }
  }
}

@media screen and (min-width: 850px) {
  .page-title {
    font-size: 3.8em;
  }

  .title-character {
    &:before {
      height: get-target-width(2);
      left: 0;
      max-width: get-target-width(1.4);
      top: -0.9em;
      width: calc-percent(get-target-width(2), get-target-width(12));
    }
  }
}
