.list-shows {
  list-style: none outside;
  margin: 0;
  overflow: hidden;
  padding: 0;

  li {
    display: block;

    &:hover {
      background-color: lighten($color-blue, 42);
    }
  }
}

.show-btn {
  border-top: 3px solid $color-blue;
  display: block;
  overflow: hidden;
  padding: 2em 0.25em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: lighten($color-blue, 42);

    .show-details-btn {
      color: #fff;
    }
  }
}

.sold-out-banner {
  @extend %roboto-cond;
  background-color: $color-yellow;
  box-sizing: border-box;
  color: #000;
  display: inline-block;
  font-size: 80%;
  font-weight: 700;
  left: -10%;
  padding: 0 0.2em;
  position: absolute;
  top: 0.5em;
  transform: rotate(-5deg);
  width: 120%;
  z-index: 100;
}

.show-city {
  font-size: 1.8em;
  font-weight: 900;
  line-height: 1;
  margin: 0;
}

.show-date {
  display: block;
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1.4;
  padding: 0.6em 0;

  &:before,
  &:after {
    content: "  \2605  \2605  \2605  ";
    font-size: 80%;
  }
}

.show-venue {
  font-family: georgia, times, serif;
  font-size: 1.6em;
  font-weight: 600;
  letter-spacing: 0.08em;
  margin: 0;
}

.show-info-excerpt {
  font-size: 1.1em;
  font-style: italic;
  margin: 0 0 0.2em 0;
}

.show-details-btn {
  background-color: $color-blue;
  border-radius: 3px;
  color: $color-off-white;
  display: inline-block;
  font-size: 1.1em;
  font-weight: 700;
  margin: 0.4em 0 0 0;
  padding: 0.3em 0.6em;
  position: relative;

  &:after {
    content: "\25B6";
    display: inline-block;
    font-size: 60%;
    line-height: 2.2;
    padding-left: 0.2em;
    vertical-align: top;
  }
}

@media screen and (min-width: 530px) {
  .list-shows {
    display: flex;
    flex-wrap: wrap;

    li {
      width: 50%;
    }
  }

  .show-btn {
    border-top: 0;
    padding: 2.5em 0.5em;
  }
}

@media screen and (min-width: 820px) {
  .list-shows li {
    width: 33.33%;
  }
}
