<% provide :body_class, "page-videos" %>
<h1 class="page-title title-character <%= title_char_class %>">I Can’t Watch Myself</h1>
<div class="page--content">
  <p class="page__intro">
    Being a comedian in 2014 means you have to infect the world with videos like
    a virus. I’ve put a ton of videos out into the world, some of which I’m into
    and some of which I think are ok and some of which ehhhh. Here are some that
    I really dig that I hope you dig too.
  </p>

  <ul class="list-videos">
    <%= render(:partial => 'videos/video', :collection => @videos) || render(:partial => 'videos/no_videos') %>
  </ul>
</div>
