<% provide :body_class, "page--home" %>

<div class="page--content page--content--home">
  <div class="home__section home__section--news">
    <h2 class="heading--section">Latest News</h2>
    <ul class="list--posts list--posts--home">
      <%= render(:partial => 'news/post', :collection => @posts) || render(:partial => 'news/no_news') %>
    </ul>
    <div class="home__section__footer">
      <%= link_to "All News", news_path, class: "btn--text" %>
    </div>
  </div>

  <div class="home__section home__section-shows">
    <h2 class="heading--section">Upcoming Shows</h2>
    <ul class="list--shows list--shows--home">
      <%= render(:partial => 'shows/show', :collection => @shows) || render(:partial => 'shows/no_shows') %>
    </ul>
    <div class="home__section__footer">
      <%= link_to "All Shows", shows_path, class: "btn--text" %>
    </div>
  </div>
</div>
