<% provide :body_class, "page-home" %>

<h2>Latest News</h2>
<ul class="list--posts">
  <%= render(:partial => 'news/post', :collection => @posts) || render(:partial => 'news/no_news') %>
</ul>

<h2>Next Show</h2>
<ul class="list-shows">
  <%= render(:partial => 'shows/show', locals: {show: @show}) || render(:partial => 'shows/no_shows') %>
</ul>
<%= link_to "All Shows", shows_path, class: "button" %>
