html {
font-family: sans-serif;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%; }

body {
margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
display: block; }

audio, canvas, progress, video {
display: inline-block;
vertical-align: baseline; }

audio:not([controls]) {
display: none;
height: 0; }

[hidden], template {
display: none; }

a {
background: transparent; }

a:active, a:hover {
outline: 0; }

abbr[title] {
border-bottom: 1px dotted; }

b, strong {
font-weight: bold; }

dfn {
font-style: italic; }

h1 {
font-size: 2em;
margin: 0.67em 0; }

mark {
background: #ff0;
color: #000; }

small {
font-size: 80%; }

sub, sup {
font-size: 75%;
line-height: 0;
position: relative;
vertical-align: baseline; }

sup {
top: -0.5em; }

sub {
bottom: -0.25em; }

img {
border: 0; }

svg:not(:root) {
overflow: hidden; }

figure {
margin: 1em 40px; }

hr {
box-sizing: content-box;
height: 0; }

pre {
overflow: auto; }

code, kbd, pre, samp {
font-family: monospace, monospace;
font-size: 1em; }

button, input, optgroup, select, textarea {
color: inherit;
font: inherit;
margin: 0; }

button {
overflow: visible; }

button, select {
text-transform: none; }

button, html input[type="button"], input[type="reset"], input[type="submit"] {
-webkit-appearance: button;
cursor: pointer; }

button[disabled], html input[disabled] {
cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
border: 0;
padding: 0; }

input {
line-height: normal; }

input[type="checkbox"], input[type="radio"] {
box-sizing: border-box;
padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
height: auto; }

input[type="search"] {
-webkit-appearance: textfield;
box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
-webkit-appearance: none; }

fieldset {
border: 1px solid #c0c0c0;
margin: 0 2px;
padding: 0.35em 0.625em 0.75em; }

legend {
border: 0;
padding: 0; }

textarea {
overflow: auto; }

optgroup {
font-weight: bold; }

table {
border-collapse: collapse;
border-spacing: 0; }

td, th {
padding: 0; }

html, body {
font-family: "Roboto", helvetica, sans-serif; }

.heading-section, .btn-tickets, [role="contentinfo"] {
font-family: "Roboto Condensed", helvetica, sans-serif; }

html, body {
background-color: #f9f8f8;
height: 100%; }

[role="main"] {
background: transparent url("../images/sheriff.png") no-repeat 45% bottom;
background-size: 100%;
border-right: 14px solid #353535;
border-left: 6px solid #353535;
box-shadow: 0 10px 0 #3fc186;
box-sizing: border-box;
height: 60%;
overflow: hidden;
padding: 4rem 1rem 28rem 1rem;
position: relative; }
[role="main"]:before, [role="main"]:after {
background-color: #353535;
content: "";
display: block;
height: 3.5rem;
left: -5%;
position: absolute;
-webkit-transform: rotate(-2deg);
-ms-transform: rotate(-2deg);
transform: rotate(-2deg);
width: 110%; }
[role="main"]:before {
top: -3.5rem; }
[role="main"]:after {
top: 98%; }
@media screen and (min-width: 690px) {
[role="main"] {
background-size: auto;
height: auto; } }

a {
color: #3fc186; }

.notice-img {
display: block;
margin: 0 auto;
max-width: 700px;
width: 95%; }

.live-shows {
margin: 0 auto;
max-width: 900px;
padding: 1em 0 4em 0;
font-weight: 300;
width: 95%; }
.live-shows table {
width: 100%; }
.live-shows th {
display: none; }
.live-shows a:not(.btn-tickets) {
font-size: 120%;
font-weight: 700;
text-decoration: none; }
.live-shows td {
border-bottom: 1px solid #cecece;
line-height: 1.3;
font-size: 90%;
padding: 0.8em 0.2em;
vertical-align: top; }
.live-shows td:last-child {
text-align: right; }

.heading-section {
font-size: 180%;
font-weight: 700;
text-transform: uppercase;
-webkit-transform: rotate(-1.5deg);
-ms-transform: rotate(-1.5deg);
transform: rotate(-1.5deg);
text-indent: -0.2em; }

.show-info {
color: #353535;
display: block;
font-size: 75%;
font-style: normal;
font-weight: 300; }

.btn-tickets {
  background-color: #3fc186;
  border-radius: 2px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 100%;
  font-weight: 700;
  min-width: 4.8em;
  padding: 0.2em 0.45em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase; }
  .btn-tickets:hover, .btn-tickets:focus {
    background-color: #329b6b; }

    .sold-out {
      background-color: #e9c011; }

      [role="contentinfo"]:before, [role="contentinfo"] a:after {
        background-color: #353535;
        content: "";
        display: inline-block;
        height: 0.8em;
        margin: 0 0.5em 0 0.6em;
        -webkit-transform: rotate(20deg);
        -ms-transform: rotate(20deg);
        transform: rotate(20deg);
        width: 0.2em; }

        [role="contentinfo"] {
          margin: 0 auto;
          max-width: 900px;
          padding: 1em 0 1em 0;
          font-size: 100%;
          font-weight: 700;
          text-align: right;
          text-transform: uppercase;
          -webkit-transform: rotate(-1deg);
          -ms-transform: rotate(-1deg);
          transform: rotate(-1deg);
          width: 95%; }
          [role="contentinfo"] a {
            border-bottom: 3px solid #f9f8f8;
            text-decoration: none; }
            [role="contentinfo"] a:hover, [role="contentinfo"] a:focus {
              border-bottom-color: #3fc186; }
