<% provide :html_class, "page--show" %>
<%= render 'layouts/common_head' %>
<body>
  <div class="show-poster">
    <header class="show-poster__callout">
      <h3 class="show-poster__headline">Live</h3>
      <h4 class="show-poster__byline">In concert</h4>
    </header>

    <h1 class="show-poster__name">Chris Gethard</h1>

    <%= yield %>

  </div>
</body>
</html>
